* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    list-style: none;
}
body {
    display: flex;
    height: 100vh;
    width: 100vw;
}
header {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 3%;
}

button:hover {
    cursor: pointer;
}

#high-score-button {
    border: none;
    background: none;
    position: relative;
    top: 50%;
    left: 5%;
    color: purple;
}
#timer {
    position: relative;
    left: 80%;
    top: 50%;
}

#landing-page {
    position: relative;
    height: 100%;
    width: 60%;
    top: 30%;
    left: 20%;
    right: -20%;
}
.welcome-conatiner {
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
}
#welcome-title {
    font-size: 1.5rem;
    line-height: 2rem;
}
#start-game-button {
    border: rgb(83, 0, 83);
    background: rgb(165, 3, 165);
    color: white;
    padding: 1%;
}

#quiz {
    display: none;

    position: relative;
    height: 60vh;
    width: 60vw;
    top: 20%;
    left: 20%;
    right: -20%;
}
#question-answer-container {
    position: relative;
    height: 100%;
    width: 100%;
}
#question-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
#question {
    font-size: 2rem;
}
.answer-button {
    display: block;
    margin-top: 1%;
    padding: 1%;
    border: rgb(83, 0, 83);
    background: rgb(165, 3, 165);
    color: white;
    border-radius: 5px;
}

#high-score-container {
    display: none;
    position: relative;
    height: 100vh;
    width: 100vw;
}
#score-content {
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30%;
    left: 20%;
    right: -20%;
    background:rgb(165, 3, 165);
    border-radius: 5%;
}
#initials-container,
#score-container {
    position: relative;
    top: 15%;
    left: 30%;
    height: 50%;
}
#initials-container h2,
#score-container h2 {
    font-size: 1.5rem;
}

#close-scores-button {
    position: relative;
    top: 80%;
    width: 50%;
    margin-right: 5%;
    height: 10%;
    border: none;
    background: white;
    border-radius: 10px;
}

#initials-form-container {
    display: none;
    position: relative;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}
#initials-form {
    position: relative;
    top: 30%;
    width: 50%;
    height: 50%;    
    display: block;
    border-radius: 5%;

    background:rgb(165, 3, 165);
}
#initials-form-title {
    font-size: 1.5rem;
    position: relative;
    top: 40%;
    left: 20%;
}
#initials-input {
    position: relative;
    top: 40%;
    left: 20%;
    height: 5%;
    width: 25%;
    font-size: 1rem;
    line-height: 1rem;
}
#initials-submit-button {
    position: relative;
    top: 40%;
    left: 20%;
    height: 5%;
    width: 25%;
    font-size: 1rem;
    line-height: 1rem;
}